* {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}

img {
  width: 300px;
height: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-items: center;
  margin: auto;
}

section {
  padding: 50px 0;
}

/*Hero Section*/

header {
height: 80vh;
background-color: purple;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
color: whitesmoke;
}

.logo img {
margin: 0;
width: 100px;
height: auto;
}

nav {
  padding: 1% 2%;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
}

nav ul li {
display: inline-block;
margin-left: 1em;
}

nav ul li a:hover {
  color: blue;
  transition: .5s ease-in-out;
}

.header-content {
  width: 50%;
  position: relative;
  top: 6%;
  left: 5%;
  color: whitesmoke;
  display: flex;
  justify-content: flex-start;
  align-content:space-between;
}

.header-left, .header-right {
padding: 2%;
}

header button {
  background-color: whitesmoke;
  color: purple;
  font-weight: bold;
  width: 20%;
  border-radius: 3px;
}

/*What I can do for you section*/

.about {
  background-color: silver;
}
.about h2 {
  text-align: center;
}

.about-left, .about-middle-left, .about-middle-right, .about-right {
  flex-basis: 10%;
padding: 2%;
}

/*Quote section*/

.quote {
  justify-content: center;
  padding: 5% 30%;
  background-color: rgb(146, 145, 145);
  color: black;
}

figcaption {
  text-align: right;

}

/*Call to action section*/
.action {
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  background-color: silver;
  margin: auto;
  padding: 5% 20%;
}

.action button {
  align-self: flex-end;
  width: 20%;
  border-radius: 3px;
}

/*Footer*/
footer {
  text-align: center;
background-color: purple;
color: whitesmoke;
padding: 1% 0;
}