* {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-items: center;
  margin: auto;
}

section {
  padding: 50px 0;
}

/*Hero Section*/

header {
height: 80vh;
background-color: purple;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
color: whitesmoke;
}

.logo img {
margin: 0;
width: 100px;
height: auto;
}

nav {
  padding: 1% 2%;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
}

nav ul li {
display: inline-block;
margin-left: 1em;
}

nav ul li a:hover {
  color: blue;
  transition: .5s ease-in-out;
}

.header-content {
  width: 80%;
  position: relative;
  margin: 0 auto;
  color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5%;
}

.header-left, .header-right {
 width: 50%;
}

.header-left {
  flex: 3, 0, auto;
}

.header-right img {
  width: 450px;
  height: auto;
  flex-shrink: 2;
  align-self: flex-end;
}

header button {
  background-color: whitesmoke;
  color: purple;
  font-weight: bold;
  width: 20%;
  border-radius: 3px;
  margin: 2% 0;
}

/*What I can do for you section*/

.about {
  background-color: silver;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.about h2 {
  text-align: center;
}

.about-left, .about-middle-left, .about-middle-right, .about-right {
  flex-basis: 2%;
  padding: 2%;
  align-self: baseline;
}

.about img {
  width: 300px;
  height: 300px;

}
/*Quote section*/

.quote {
  justify-content: center;
  padding: 5% 30%;
  background-color: purple;
  color: whitesmoke;
  font-style: italic;
}

figcaption {
  text-align: right;

}

/*Call to action section*/
.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: silver;
  margin: 5rem 20rem;
  padding: 1rem;
  border-radius: 10px;
}

.action button {
  align-self: flex-end;
  width: 20%;
  border-radius: 3px;
}

/*Footer*/
footer {
  text-align: center;
background-color: purple;
color: whitesmoke;
padding: 1% 0;
}